.cards__like-btn {
  padding: 0;
  width: 22px;
  height: 19px;
  background: none;
  border: none;
  background-image: url(../../../images/cards__like-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .6s ease-in-out;
}

.cards__like-btn:hover {
  opacity: .5;
}
